<div class="home-hero">
  <%= image_tag "logo-color.png", class: 'logo' %>

  <p class="lead">
  Estimate the budget while you work
  </p>

  <p class="lead">
  Save six figure sums in rework costs
  </p>

  <p class="lead">
  Simple. Easy. Smart.
  </p>

  <blockquote>
    <p>
      I've been using Revit for 9 years and I would find TendTime incredibly
      useful, potentially saving me hundreds of hours per year and vastly
      improving the build experience for our clients.
    </p>
    <footer>Thomas Sheridan, Tennet + Brown Architects</footer>
  </blockquote>

</div>

<%= render "mailchimp" %>
