.marketing {
  background: transparent image-url("home-bg.jpg") top center no-repeat;
  background-size: 100%;
  color: $green;

  @media screen and (min-width: 750px) {
    background-size: contain;
  }

  .header {
    color: $white;
    margin-top: 3em;
    margin-bottom: 2em;
    min-height: 3em;
    background-color: $green;

    @media screen and (max-width: 740px) {
      margin-top: 0;
    }

    .tendtime-logo {
      color: $white;
      background-color: $green;
      font-size: 300%;
      padding-top: 0.25em;
      @media screen and (min-width: 760px) {
        float: left;
      }
    }

    .nav-bar {
      margin: 0;
      padding: 15px 10px 10px 10px;

      .nav-list {
        margin: 0;
        padding: 0;

        .nav-item {
          float: left;
          list-style: none;
          padding: 1em;

          .nav-link {
            font-size: 120%;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }

  }

  .call-to-action {
    background-color: $semi-trans-black;
    color: $white;
    float: left;
    padding: 3em;
    max-width: 50%;

    margin-bottom: 20em;

    @media screen and (max-width: 1000px) {
      margin-bottom: 10em;
      // outline: 1px solid red;
    }

    @media screen and (max-width: 750px) {
      margin-bottom: 5em;
      float: none;
      max-width: 100%;
    }

    .tagline {
      color: $grey-light;
    }
  }

  .white-wrapper {
    background: $white;
    clear: both;
  }

  .how-it-works {
    position: relative;
    padding: 2em 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    .title {
      margin-top: 0;
    }

    .logo {
      max-width: 100px;
      padding-top: 3px;
    }

    .sub-title {
      font-size: 170%;
      padding-bottom: 3px;
      border-bottom: 3px solid $green;
      margin: 1em 0;
    }
  }

  .testimonials {
    padding: 2em 1em;
    background: $grey-light;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    .title {
      margin-top: 0;
    }

    .quote {
      margin: 1em;

      .quote-marks {
        float: left;
        display: block;

      }
      .name {
        margin-left: 40px;
        font-weight: bold;
      }
      .company {
        margin-left: 40px;
        font-size: 80%;
      }
      .text {
        margin-left: 40px;
        margin-top: 10px;
        border-top: 2px solid $green;
      }
    }
  }

  .pricing {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    .pricing-box {
      text-align: center;
      padding-bottom: 2em;

      .title {
        background: $green;
        color: $white;
        font-weight: bold;
        padding: 1em 1em 0 1em;;
        font-size: 250%;
      }
      .sub-title {
        background: $green;
        padding: 0 1em 1em 1em;;
        color: $white;
        font-size: 150%;
      }
      .price {
        font-size: 700%;
        background: $grey-light;
        padding: 0.25em 0.25em  0 0.25em;
      }
      .price-details {
        padding: 0 1em 1em 1em;
        background: $grey-light;
        font-size: 150%;
      }
    }

    .features {
      padding-top: 50px;
      .feature {
        font-size: 220%;
        padding-top: 0.25em;
        &:before {
          font-family: 'FontAwesome';
          content: '\f00c'; // check box
          margin: 0 5px 0 -15px;
        }
        list-style-type: none;
      }
    }
  }

  .mailchimp {
    background: $white;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  .footer {
    clear: both;
    background: $grey-light;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    .footer-content {
      margin: 0 1em 1em 0;
      .line {
        margin: 0.5em;
      }
    }
  }
}
