.sub-heading {
  font-style: italic;
}

.budget {
  padding-bottom: 20px;
  .pull-left { width:50%; }
  .pull-right { width: 50%; }
}

.total {
  font-size: 18px;
  color: #337ab7;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.1;
}
