.sub-heading { font-style: italic; }
.page-heading {
  font-size: 16px;
  font-weight: bold;
}

.spacer {
  clear: both;
  padding-bottom: 20px
}

.small-spacer {
  clear: both;
  padding-bottom: 10px;
}

.budget {
  .pull-left { width:50%; }
  .pull-right { width: 50%; }
}

.total {
  font-size: 18px;
  color: #337ab7;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.1;
}
th.striped { background: #f9f9f9 }

#file {
  display: none;
}
#file-name {
  margin-left: 10px;
}

.wrap {
  height: 50px;
}
