// variables
$green: #167190;
$white: #fff;
$red: #ed1d24;

@import "normalize";

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "elements";

@import "modules/home-hero";
@import "modules/login";

.footer {
  background-color: $green;
  color: $white;
}

.mailchimp {
  input {
    color: black;
  }
}
